<h2>@ViewBag.Student</h2>
<form asp-action="Index">
    <input type="text" name="ID" placeholder="StudentID">
    <input type="text" name="FullName" placeholder="Name">
    <input type="submit">
</form>